.fondo-body{
  background: url(../img/fondo.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.fondo_general{
  background-color: rgba(74,118,175,0.8);
}
.color-logo{
  color: white;
}
p{
  color: #0B61D1;
}
h5,h3{
  color: #A02510;
}
.vertical-line{
  border-right: 1px solid #D5D8DC;
}
